In [1]:
import pandas as pd

import numpy as np

In [2]:
df = pd.read_csv('Autolib_dataset .csv')

In [31]:
df.shape

(5000, 25)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [34]:
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [40]:
# Dropping the irrelevant columns

# df.drop(['Utilib counter','Displayed comment','Scheduled at'],axis=1,inplace= True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib 1.4 counter   5000 non-null   int64
 4   Charge Slots         5000 non-null   int64
 5   Charging Status      5000 non-null   object
 6   City                 5000 non-null   object
 7   ID                   5000 non-null   object
 8   Kind                 5000 non-null   object
 9   Geo point            5000 non-null   object
 10  Postal code          5000 non-null   int64
 11  Public name          5000 non-null   object
 12  Rental status        5000 non-null   object
 13  Slots                5000 non-null   int64
 14  Station type         5000 non-null   object
 15  Status               5000 non-null   object
 16  Subscription status  5000 non-null   object
 17  year                 5000 non-null   int64
 18  month                5000 non-null   int64
 19  day                  5000 non-null   int64
 20  hour                 5000 non-null   int64
 21  minute               5000 non-null   int64
dtypes: int64(11), object(11)
memory usage: 859.5+ KB

In [33]:
df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [43]:
# Determining the count of the most popular city
df[df['City'] =='Paris']['hour'].value_counts()

21    147
16    128
8     128
3     125
6     124
2     123
9     122
10    121
7     121
12    120
5     117
17    116
23    116
13    114
19    114
4     112
20    111
18    111
15    111
0     110
14    107
11    107
22    106
1     105
Name: hour, dtype: int64

In [6]:

# the most popular hour for returning cars
df['hour'].value_counts()

21    237
9     221
16    220
7     219
6     219
3     218
2     218
13    213
8     211
5     211
11    210
18    210
19    208
14    207
20    202
23    201
12    200
15    200
4     199
17    198
22    196
1     194
10    194
0     194
Name: hour, dtype: int64

In [7]:
# The most popular city
df['City'].value_counts()

Paris                    2816
Nanterre                  127
Issy-les-Moulineaux       101
Rueil-Malmaison            88
CrÃ©teil                   88
                         ...
Le PrÃ©-Saint-Gervais       4
Saclay                      4
Clichy la garenne           3
Saint-Maur                  2
Epinay-sur-Seine            1
Name: City, Length: 88, dtype: int64

In [8]:
# Identifying the popular hour the bluecar is picked in the city of Paris

df[(df['Bluecar counter'])&(df['hour'].value_counts()) & (df['City']=='Paris')]['Bluecar counter'].count()

7

In [12]:
df['Rental status'].value_counts()

operational    4618
broken          332
future           47
nonexistent       3
Name: Rental status, dtype: int64

In [13]:
# selecting the most popular station overall
df['Station type'].value_counts()

station         4615
full_station     382
subs_center        3
Name: Station type, dtype: int64

In [11]:
# dropping null value from the dataset
# df.drop('Displayed comment',axis=1).head(5)
df.dropna(axis=1,inplace = True)

In [10]:
# The most popular station at the most popular picking hour
df['Station type'].value_counts()

station         4615
full_station     382
subs_center        3
Name: Station type, dtype: int64

In [25]:
# the most popular postal code 
df['Address'].value_counts()

8 Avenue de la Porte de Montrouge    13
35 rue Mathis                        11
31 boulevard de Grenelle             11
182 Boulevard Voltaire               11
1 Rue de WolfenbÃ¼ttel               11
                                     ..
8 Rue BenoÃ®t Malon                   1
32 rue Broussais                      1
11 avenue Daumesnil                   1
8 Rue Denfert Rochereau               1
4 Avenue du Maine                     1
Name: Address, Length: 1104, dtype: int64

In [26]:
df['Postal code'].value_counts()

75015    274
75016    236
75017    221
75011    180
75020    169
        ...
93300      5
92110      4
91400      4
93310      4
94100      2
Name: Postal code, Length: 107, dtype: int64

In [29]:
#  Determining whether the most popular station
#  belongs to the most popular postal code
if df['Postal code'].value_counts().max() and df['Bluecar counter'].value_counts().max():
  print('yes')
else:
  print( 'No')

yes